.pitch-container{
    
   
    justify-content: space-between;
  }
.pitch-input{
    width:inherit;
    border:dotted 2px black;
}
.can{
  width:160;
  height:240;
}
 
  canvas {
    border: 3px solid #000000;
    
  }
  
  .controls {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    align-items: center;
  }
.cont{
  width: 340px;
  flex-direction: column;
 
}
@media screen and (max-width:1212px) {
  .can{
    max-width:5.95rem;
    height:150px;
    z-index: 1;
    
    justify-content: space-between;
    

  }
  .pitch-container{
    
    z-index: 0;
  }
  .cont{
    max-width: 12.5rem;
    flex-direction: column;
   
  }
  .pitch-input{
    width:12.5rem;
    border:dotted 2px black;
}
}
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  /* Style dla typowych laptopów */
  .can{
    width:110px;
    height:210px;
    z-index: 1;
  }
  .pitch-container{
    
    z-index: 0;
  }
  .cont{
    width: 240px;
    flex-direction: column;
   
  }
}
    @media screen and (min-width: 1367px) and (max-width: 1600px) {
       .can{
      width:125px;
      height:210px;
      z-index: 1;
    }
    .pitch-container{
      
      z-index: 0;
    }
    .cont{
      width: 260px;
      flex-direction: column;
     
    }
  }
  @media screen and (max-width: 1024px) {
    .can{
      width:70px;
      height:150px;
      z-index: 1;
    }
    .pitch-container{
      
      z-index: 0;
    }
    .cont{
      width: 160px;
      flex-direction: column;
     
    }
    .pitch-input{
      width:inherit;
      border:dotted 2px black;
  }
  }