.pitch-container{
    
   
    justify-content: space-between;
  }
.pitch-input{
    width:inherit;
    border:dotted 2px black;
}
.can{
  width:160;
  height:240;
}
 
  canvas {
    border: 3px solid #000000;
    
  }
  
  .controls {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    align-items: center;
  }
.cont{
  width: 320;
  flex-direction: column;
 
}
  @media only screen and (min-width: 768px) and (max-width: 1366px) {
    .can{
      width:100px;
      height:190px;
      z-index: 1;
    }
    .pitch-container{
      
      z-index: 0;
    }
    .cont{
      width: 200;
      flex-direction: column;
     
    }
}