.pitch-container{
    width:max-content;
    height:max-content;
    justify-content: space-around;
    align-items: flex-start;
    justify-items: flex-start;
    padding: 0px;
    gap:10px;
    
  }
.pitch-input{
    width:inherit;
    border:dotted 2px black;
}

 
  canvas {
    border: 3px solid #000000;
    
  }
  
  .controls {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    align-items: center;
  }
.cont{
  flex-direction: column;
  gap: 1px;

}
  @media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .can{
      width:140;
      height:190px;
    }
    
}