.add-new-row {
  width: 100%;
  margin: 0 auto;
}
.btn {
  border-radius: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  
}
/* Laptops */
@media only screen and (min-width: 768px) and (max-width: 1366px) {
  .btn-primary{
    height:20px;
  }
}
